{% extends "layout.html" %}
{% load widget_tweaks %}

{% block content %}
<h1 class="text-center my-4">Додати продукт</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="POST" enctype="multipart/form-data" id="product-form">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.category.label_tag }}
                {{ form.category|add_class:"form-select" }}
            </div>
            <div class="mb-3">
                {{ form.name.label_tag }}
                {{ form.name|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.description.label_tag }}
                {{ form.description|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.price.label_tag }}
                {{ form.price|add_class:"form-control" }}
            </div>

            <h5 class="mt-4">Фото товару</h5>
            <input type="file" name="images" id="product-images" multiple class="form-control mb-3">

            <div class="d-flex flex-row">
                <button type="submit" class="btn btn-success mt-3">Створити продукт</button>
            </div>
        </form>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const inputElement = document.querySelector('#product-images');

    const pond = FilePond.create(inputElement, {
        allowMultiple: true,
        allowReorder: true,
        allowImagePreview: true,
        imagePreviewHeight: 120,
        server: {
            process: {
                url: "{% url 'products:upload_temp_image' %}",
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                onload: (response) => JSON.parse(response).file_id,
                onerror: (response) => console.log("Error:", response)
            },
            revert: (uniqueFileId, load) => {
                load();
            }
        }
    });


    const form = document.querySelector('#product-form');
    form.addEventListener('submit', function() {
        // Видаляємо старі hidden input
        document.querySelectorAll('input[name="images"]').forEach(i => i.remove());

        pond.getFiles().forEach((file, index) => {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'images';
            input.value = file.serverId;
            input.dataset.priority = index;
            form.appendChild(input);
        });
    });
});
</script>

{% endblock %}
