{% extends "layout.html" %}

{% block content %}
<h1 class="text-center">Додати категорію</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
        {% if form.name.errors %}
            <div class="text-danger">{{ form.name.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.slug.label_tag }}
        {{ form.slug }}
        {% if form.slug.errors %}
            <div class="text-danger">{{ form.slug.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.image.label_tag }}
        {{ form.image }}
        {% if form.image.errors %}
            <div class="text-danger">{{ form.image.errors }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Додати</button>
</form>

{% endblock content %}
